---
type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<style>
  :global(main):has(> div) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    width: var(--width-max-content);
  }

  section > :global(*:first-child) {
    margin-top: 0;
  }

  :global(h1) {
    text-align: center;
  }
</style>

<div>
  <slot name="title">
    <h1>{title}</h1>
  </slot>
  <slot />
</div>
