---
import type { MarkdownHeading } from "astro";
import TableOfContents from "../../components/TableOfContents.astro";

type Props = {
  frontmatter?: {
    title?: string
  },
  headings?: MarkdownHeading[],
};

const { frontmatter, headings } = Astro.props;
---

<style>
  .page-with-aside {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-areas: ". title" "aside article";
    gap: 1.4rem;
  }

  aside {
    grid-area: aside;
  }

  aside > :global(*) {
    position: sticky;
    top: 1.4rem;
  }

  article {
    grid-area: article;
    justify-self: center;
    max-width: 50rem;
  }

  article > :global(*:first-child) {
    margin-top: 0;
  }

  h1 {
    grid-area: title;
    text-align: center;
  }
</style>
<div class="page-with-aside">
  <aside>
    <slot name="aside">
      {headings && <TableOfContents headings={headings} />}
    </slot>
  </aside>
  <slot name="title">
    <h1>{frontmatter?.title}</h1>
  </slot>
  <article>
    <slot />
  </article>
</div>
