---
type Props = {
  frontmatter?: {
    title?: string;
  };
};

const { frontmatter } = Astro.props;
---

<style>
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article > :global(*:first-child) {
    margin-top: 0;
  }

  h1 {
    text-align: center;
  }
</style>

<article class="page">
  <slot name="title">
    <h1>{frontmatter?.title}</h1>
  </slot>
  <slot />
</article>
