---
import DateTime from "../../components/DateTime.astro";

type Props = {
  frontmatter?: {
    title?: string;
    publishedAt?: Date;
  };
};

const { frontmatter } = Astro.props;
---

<style>
  .post {
    padding: 1.4rem 0;
    display: grid;
    grid-template-columns: 15rem minmax(0, 1fr) 15rem;
    grid-template-areas: ". title ." "left article right";
    gap: 1.4rem;
  }

  aside > :global(*) {
    position: sticky;
    top: 1.4rem;
  }

  article > :global(*:first-child) {
    margin-top: 0;
  }

  article {
    grid-area: article;
  }

  aside:nth-last-of-type(1) {
    grid-area: right;
  }

  aside:nth-last-of-type(2) {
    grid-area: left;
  }

  .title {
    grid-area: title;
    text-align: center;
  }

  article, .title {
    justify-self: center;
    width: 100%;
    max-width: 50rem;
  }

  @media (max-width: 1280px) {
    .post {
      grid-template-columns: minmax(100%, 1fr);
      grid-template-areas: "title" "left" "right" "article";
      gap: 1.4rem;
      justify-content: center;
    }

    .post > * {
      justify-self: center;
    }

    aside {
      width: 100%;
      max-width: 50rem;
    }

    article {
      width: 100%;
    }
  }
</style>
<div class="post">
  <slot name="title">
    <div class="title">
      <h1>{frontmatter?.title}</h1>
      {frontmatter?.publishedAt && <DateTime date={frontmatter.publishedAt} />}
    </div>
  </slot>
  <aside>
    <slot name="left" />
  </aside>
  <article>
    <slot />
  </article>
  <aside>
    <slot name="right" />
  </aside>
</div>
