---
import type { InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import {
  getContentEntryPath,
  getLocaleFromUrl,
  useTranslations,
} from "../../../utils/i18n";
import { getCollection } from "astro:content";
import { indexPaths } from "../../_paths";
import Page from "../../../layouts/pages/Page.astro";

export const getStaticPaths = indexPaths("notes");

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations } = Astro.props as Props;
const notes = await getCollection("notes");
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<DefaultLayout translations={translations}>
  <Page>
    <h1>{t("notesTitle")}</h1>
    <ul>
      {
        notes
          .map(async (note) => {
            const p = note.data;
            if (!p) return undefined;
            return (
              <li>
                <a href={await getContentEntryPath("notes", note.slug)}>
                  {p.title}
                </a>
              </li>
            );
          })
          .filter(Boolean)
      }
    </ul>
  </Page>
</DefaultLayout>
