---
import type { InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import {
  getLocaleFromUrl,
  useTranslations,
} from "../../../utils/i18n";
import { indexPaths } from "../../_paths";
import Page from "../../../layouts/pages/Page.astro";
import Meta from "../../../layouts/groups/Meta.astro";
import { nestedNotesCollection } from "../../../collections/notes";
import NotesList from "../../../components/NotesList.astro";

export const getStaticPaths = indexPaths("notes");

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations } = Astro.props as Props;
const notes = nestedNotesCollection;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<DefaultLayout translations={translations}>
  <Meta slot="meta" title={t("notesTitle")} />
  <Page>
    <h1>{t("notesTitle")}</h1>
    <NotesList notes={notes} />
  </Page>
</DefaultLayout>
