---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { parseLocale, useTranslations } from "../../../utils/i18n";
import Page from "../../../layouts/pages/Page.astro";
import Meta from "../../../layouts/groups/Meta.astro";
import { generateGetStaticIndexPaths } from "../../../utils/paths";

export const getStaticPaths = generateGetStaticIndexPaths(
  "[...locale]/[projects]",
);

const {
  translations,
  data: { locale },
} = Astro.props;
const t = useTranslations(parseLocale(locale));
---

<DefaultLayout translations={translations}>
  <Meta slot="meta" title={t("projectsTitle")} />
  <Page>
    <h1>{t("projectsTitle")}</h1>
  </Page>
</DefaultLayout>
