---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<style>
  a {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: var(--gap-tiny) var(--gap);
  }

  a:hover {
    background-color: var(--color-primary-80);
  }
</style>

<a href={href}><slot /></a>
