---
type Props = {
  href: string;
}

const { href } = Astro.props;

---

<style>
  a {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    padding: 0.2rem 0.4rem;
  }

  a:hover {
    background-color: var(--primary-color-120);
  }
</style>

<a href={href}><slot /></a>
