---
import { C } from "../site.config";

const host = C.SETTINGS.COMMENTS.HOST;
const siteId = C.SETTINGS.COMMENTS.SITE_ID;
const originalUrl = C.SETTINGS.COMMENTS.ORIGINAL_URL;
const isDEV = import.meta.env.DEV;
---

<script is:inline define:vars={{ host, siteId, originalUrl, isDEV }} async>
  const remark42 = window.REMARK42;
  let url = (isDEV ? originalUrl : window.location.origin) + window.location.pathname;
  if (url.endsWith("/")) {
    url = url.slice(0, -1);
  }
  remark_config = {
    host,
    site_id: siteId,
    url,
    theme: "light",
    components: ["embed"],
  };
  if (remark42) {
    remark42.destroy();
    remark42.createInstance(window.remark_config);
  }
  (function injectScripts(components, doc) {
    for (let o = 0; o < components.length; o++) {
      const r = doc.createElement("script");
      let c = ".js";
      const d = doc.head || doc.body;
      if ("noModule" in r) {
        r.type = "module";
        c = ".mjs";
      } else {
        r.async = true;
      }
      r.defer = true;
      r.src = remark_config.host + "/web/" + components[o] + c;
      d.appendChild(r);
    }
  })(remark_config.components || ["embed"], document);
</script>

<div id="remark42"></div>
