---

type Props = {
  defaultOpen?: boolean;
  title?: string;
}

const { defaultOpen = false, title } = Astro.props;

---

<details data-default-open={defaultOpen}>
  <summary>
    <slot name="title">
      {title}
    </slot>
  </summary>
  <div class="content">
    <slot />
  </div>
</details>

<style>
  summary {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    list-style: none;
  }

  summary::before {
    display: inline-block;
    font-family: var(--font-listings);
    content: ">";
    color: var(--color-secondary);
    margin-right: 1ch;
    transition: var(--transition-duration);
  }

  details[open] summary::before {
    rotate: 90deg;
  }

  details {
    background-color: var(--color-white-95);
    margin: -1rem;
    padding: 1rem;
  }

  :global(article) details {
    margin: 0;
  }

  .content {
    padding: 0 1ch;
  }
</style>

<script>
  const matchQuery = window.matchMedia('(max-width: 1280px)');

  const handleBreakpoint = () => {
    const details = document.querySelectorAll('details') as NodeListOf<HTMLDetailsElement>;
    details.forEach(detail => {
      if (matchQuery.matches) {
        detail.removeAttribute('open');
      } else {
        detail.dataset.defaultOpen === 'true' && detail.setAttribute('open', '');
      }
    });
  };
  document.addEventListener('astro:page-load', handleBreakpoint);
  matchQuery.addEventListener('change', handleBreakpoint);

</script>
