---
import { Image } from 'astro:assets';

type Props = {
  cover: ImageMetadata;
  title: string;
  path: string;
};

const { cover, title, path } = Astro.props;

---

<style>
  a {
    position: relative;
    display: block;
  }

  li div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-inline: 1rem;
    border-radius: var(--border-radius);
  }

  img {
    display: block;
  }

  h2 {
    margin: 0;
  }

</style>

<li>
  <a href={path}>
    <Image src={cover} alt={`Cover: ${title}`} width={442} />
    <div>
      <h2>{title}</h2>
    </div>
  </a>
</li>
