---
import type { GitInfoFrontmatter } from '../remark/remark-git-info'
import { parseLocale, useTranslations } from '../utils/i18n';
import Button from './Button.astro';
import DateTime from './DateTime.astro';
import Foldable from './Foldable.astro';

type Props = GitInfoFrontmatter;

const { git } = Astro.props;
const locale = parseLocale(Astro.currentLocale);
const t = useTranslations(locale);

---

<Foldable>
  <span class="label" slot="title">{t('gitInfoLabel')}</span>
  <dl>
    <slot name="before" />
    {git?.lastCommit && (
      <dt>{t('authorLabel')}</dt>
      <dd>{git.lastCommit.authorName}</dd>
      <dt>{t('lastUpdatedLabel')}</dt>
      <dd><DateTime date={new Date(git.lastCommit.date)} /></dd>
      <dt>{t('linksLabel')}</dt>
      <dd>
        <Button href={git.remoteViewUrl}>{t('sourceLabel')}</Button>
        <Button href={git.remoteHistoryUrl}>{t('historyLabel')}</Button>
        <Button href={git.remoteEditUrl}>{t('editLabel')}</Button>
      </dd>
    )}
    <slot name="after" />
  </dl>
</Foldable>
