---
import { Image } from "astro:assets";
import type { DataEntryMap } from "astro:content";
import type { Locale } from "../configuration";

type Props = {
  locale: Locale;
  items: ArrayElement<
    DataEntryMap["navigation"]["navigation"]["data"]
  >["items"];
};

const { items, locale } = Astro.props;
---

<style>
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>

<nav>
  <ul>
    {
      items.map((item) => (
        <li>
          {item.icon ? (
            <Image
              src={item.icon}
              alt={`${item.title[locale]} Icon`}
              width="16"
            />
          ) : null}
          {item.title[locale]}
        </li>
      ))
    }
  </ul>
</nav>
