---
import type { GitInfoFrontmatter } from "../remark/remark-git-info";
import DateTime from "./DateTime.astro";

type Props = {
  path: string;
  title: string;
  gitInfo: GitInfoFrontmatter["git"];
};

const { path, title, gitInfo } = Astro.props;
---

<style>
  a {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color-140);
    padding: var(--gap-small);
  }
</style>

<a href={path}>
  <span class="note-title">{title}</span>
  {
    gitInfo.lastCommit && (
      <span class="note-modified">
        <DateTime date={new Date(gitInfo.lastCommit?.date)} dateStyle="short" />
      </span>
    )
  }
</a>
