---
import type { CollectionEntry } from "astro:content";
import { getContentEntryPath } from "../utils/i18n";
import { Image } from "astro:assets";
import DateTime from "./DateTime.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<style>
  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  a :global(time) {
    font-size: 0.8rem;
  }

  h2 {
    margin-top: 0.5rem;
  }
</style>

<div>
  <a href={await getContentEntryPath("blog", post.slug)}>
    {
      post.data.cover ? (
        <Image
          src={post.data.cover.src}
          alt={post.data.cover.alt || post.data.title}
          widths={[720]}
        />
      ) : null
    }
    <div>
      <div>
        <DateTime date={post.data.publishedAt} />
        <h2>{post.data.title}</h2>
        <p>{remarkPluginFrontmatter.excerpt}...</p>
      </div>
    </div>
  </a>
</div>
