---

---

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50%;
    grid-template-areas: "title spotlight" "content spotlight";
    min-height: 5rem;
    gap: 1rem;
  }

  h1 {
    grid-area: title;
    align-self: flex-end;
    margin: 0;
  }

  .spotlight {
    grid-area: spotlight;
  }

  .content {
    font-size: 1.2rem;
    grid-area: content;
  }

  @media (max-width: 1280px) {
    section {
      grid-template-columns: 1fr;
      grid-template-areas: "title" "content";
    }

    .spotlight {
      display: none;
    }
  }
</style>

<section>
  <h1>
    <slot name="title" />
  </h1>
  <div class="content">
    <slot />
  </div>
  <div class="spotlight">
    <slot name="spotlight" />
  </div>
</section>
