---

---

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title spotlight" "content spotlight";
    min-height: 5rem;
    gap: 4rem;
  }

  h1 {
    grid-area: title;
    align-self: flex-end;
    margin: 0;
  }

  .spotlight {
    grid-area: spotlight;
    display: flex;
    justify-content: center;
    margin: -1rem;
    z-index: -1;
  }

  .content {
    font-size: 1.2rem;
    grid-area: content;
  }

  @media (max-width: 800px) {
    section {
      gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-areas: "title" "spotlight" "content";
    }

    .spotlight {
      margin: 0;
    }
  }
</style>

<section>
  <h1>
    <slot name="title" />
  </h1>
  <div class="content">
    <slot />
  </div>
  <div class="spotlight">
    <slot name="spotlight" />
  </div>
</section>
