---
import PixelDisplay from "../../components/interactive/PixelDisplay.astro";
---

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "content";
    min-height: 5rem;
  }

  h2 {
    grid-area: title;
    align-self: flex-end;
  }

  .content {
    font-size: 1.2rem;
    grid-area: content;
  }
</style>

<section>
  <header>
    <h2>
      <slot name="title" />
    </h2>
  </header>
  <div class="content">
    <PixelDisplay transition:persist />
    <slot />
  </div>
</section>
