---
import type { MarkdownLayoutProps } from 'astro';
import TableOfContents from '../../components/TableOfContents.astro';

type Props = MarkdownLayoutProps<{}>;

const { headings } = Astro.props;

---
<style>
  .long-page-section {
    padding: 1.4rem 0;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    gap: 1.4rem;
  }

  aside > :global(*) {
    position: sticky;
    top: 1.4rem;
  }

  section {
    justify-self: center;
    max-width: 50rem;
  }

  section :global(h1) {
    text-align: center;
  }
</style>
<div class="long-page-section">
  <aside>
    <TableOfContents headings={headings} />
  </aside>
  <section>
    <slot />
  </section>
</div>
