---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string
}>;

const { frontmatter } = Astro.props;
---

<style>
  .page-section {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  article {
    max-width: 50rem;
    padding: 1rem;
  }

  h1 {
    text-align: center;
  }
</style>

<div class="page-section">
  <h1>{frontmatter.title}</h1>
  <article>
    <slot />
  </article>
</div>
