:root {
  --color-white: #f8eded;
  --color-white-90: hsl(from var(--color-white) h s calc(l - 10));
  --color-white-95: hsl(from var(--color-white) h s calc(l - 5));
  --color-white-105: hsl(from var(--color-white) h s calc(l + 5));
  --color-text: #071212;
  --color-primary: #6a4a3c;
  --color-primary-80: hsl(from var(--color-primary) h s calc(l - 20));
  --color-primary-105: hsl(from var(--color-primary) h s calc(l + 5));
  --color-primary-120: hsl(from var(--color-primary) h s calc(l + 20));
  --color-secondary: #eb6841;
  --color-secondary-80: hsl(from var(--color-secondary) h s calc(l - 20));
  --color-secondary-120: hsl(from var(--color-secondary) h s calc(l + 20));
  --color-secondary-130: hsl(from var(--color-secondary) h s calc(l + 30));
  --font-headings: "Rajdhani", sans-serif;
  --font-paragraph: "Poppins", "Roboto", sans-serif;
  --font-listings: "IBM Plex Mono", monospace;
  --font-size: 16px;
  --padding-page: 20%;
  --gap: 1rem;
  --gap-huge: calc(var(--gap) * 4);
  --gap-big: calc(var(--gap) * 2);
  --gap-small: calc(var(--gap) / 2);
  --gap-tiny: calc(var(--gap) / 4);
  --width-max-content: 50rem;
  --border-radius: 5px;
  --border-width: 3px;
  --transition-duration: 0.5s;
  --line-height: 1.8;
}

html.dark:root {
  --background-color: #071212;
  --color-text: #f8eded;
}

/* Huge */
@media (min-width: 2560px) {
  :root {
    --font-size: 20px;
    --padding-page: 20%;
  }
}

/* Large */
@media (max-width: 2560px) {
  :root {
    --font-size: 18px;
    --padding-page: 20%;
  }
}

/* Big */
@media (max-width: 1920px) {
  :root {
    --font-size: 18px;
    --padding-page: 15%;
  }
}

/* Medium */
@media (max-width: 1600px) {
  :root {
    --font-size: 16px;
    --padding-page: 10%;
  }
}

/* Small */
@media (max-width: 1440px) {
  :root {
    --font-size: 16px;
    --padding-page: 7.5%;
    --line-height: 1.6;
  }
}

/* Tiny */
@media (max-width: 1280px) {
  :root {
    --font-size: 14px;
    --padding-page: 5%;
    --line-height: 1.6;
  }
}

/* Compact */
@media (max-width: 800px) {
  :root {
    --font-size: 14px;
    --padding-page: 2rem;
    --line-height: 1.4;
  }
}

/* Minimum */
@media (max-width: 480px) {
  :root {
    --font-size: 14px;
    --padding-page: 1rem;
    --line-height: 1.4;
  }
}

html {
  height: 100%;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-paragraph);
  margin: 0;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-headings);
}

code,
kbd,
li::marker {
  font-family: var(--font-listings);
}

.sr-only {
  display: none;
}
