---
import type { InferGetStaticPropsType } from "astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { useTranslations } from "../../../utils/i18n";
import { indexPaths } from "../../_paths";
import Page from "../../../layouts/pages/Page.astro";
import CardList from "../../../components/CardList.astro";
import GalleryCard from "../../../components/GalleryCard.astro";
import { defaultGalleryCollection } from "../../../collections/gallery";

export const getStaticPaths = indexPaths("gallery");
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations, locale } = Astro.props as Props;
const gallery = defaultGalleryCollection;
const t = useTranslations(locale);
---

<DefaultLayout translations={translations}>
  <Page>
    <h1>{t("galleryTitle")}</h1>
    <CardList>
      {
        gallery.map(async (category) => {
          return <GalleryCard category={category} locale={locale} />;
        }).filter(Boolean)
      }
    </CardList>
  </Page>
</DefaultLayout>
