html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  background-color: var(--color-primary);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
}

body > :is(header, footer) {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.search {
  grid-area: search;
  transition: var(--transition-duration);

  input {
    background-color: var(--color-primary);
    font-size: 1.2rem;
    padding: 0.656rem;
    border: 3px solid var(--color-primary-130);
    border-radius: var(--border-radius);
    color: var(--color-white);
    transition: var(--transition-duration);
  }

  input::placeholder {
    color: var(--color-primary-180);
  }

  input:focus,
  input:hover {
    border-color: var(--color-white);
    outline: none;
  }

  input:not(:focus)::-webkit-search-cancel-button {
    display: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  input::-webkit-search-cancel-button {
    height: 1.5rem;
    width: 1.5rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: 1.5rem 1.5rem;
    cursor: pointer;
    opacity: 0.7;
    transition: var(--transition-duration);
  }
}

nav {
  user-select: none;
}

main {
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main a {
  color: var(--color-primary);
}

main h1 {
  margin-top: 0;
}

main :is(h1, h2, h3, h4, h5, h6) a {
  color: inherit;
  text-decoration: none;
}

main :is(img, video, svg) {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

p:has(> img) {
  text-align: center;
}

article {
  line-height: var(--line-height);
}

article details {
  margin: 0;
  padding: 1rem;
}

pre {
  padding: 1rem;
  border-radius: var(--border-radius);
}

footer {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding-top: 0.75rem;
}

footer nav ul {
  display: flex;
  gap: var(--gap);
}

footer nav ul .active {
  font-weight: bold;
}

body > :is(#ribbon, header, main, footer) {
  padding-inline: var(--padding-page);
}

body > :is(#ribbon, header, footer) a {
  text-decoration: none;
  color: var(--color-white);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

code,
kbd {
  background-color: var(--color-white-140);
  border-radius: var(--border-radius);
  padding: 0.15rem;
}

p code {
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

kbd {
  border: 1px solid var(--color-primary);
  box-shadow: 0 2px 0 1px var(--color-primary);
  cursor: default;
  font-size: 0.75em;
  line-height: 1;
  min-width: 0.75rem;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
}

kbd:hover {
  box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
  top: 1px;
}

dt {
  font-style: italic;
}

dd {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--gap-tiny);
  margin-left: 1ch;
  margin-bottom: 1rem;
  padding-left: 1ch;
  border-left: 1px solid var(--color-primary-240);
}

dd:last-child {
  margin-bottom: 0;
}

main ul li {
  list-style: ">";
  padding-inline-start: 1ch;
}

main ol li {
  padding-inline-start: 1ch;
}

.label {
  font-family: var(--font-headings);
  font-size: 1.3rem;
  font-weight: bold;
}

.footnotes {
  font-size: 0.7rem;

  p {
    margin: 0;
  }
}

@media print {
  aside,
  #ribbon,
  header .search,
  header nav,
  footer,
  body > svg,
  #remark42 {
    display: none !important;
  }
}
