---
import "./layouts";
import "./DefaultLayout.css";
import { parseLocale } from "../utils/i18n.ts";
import Head from "./groups/Head.astro";
import Header from "./groups/Header.astro";
import Footer from "./groups/Footer.astro";
import Topbar from "./groups/Topbar.astro";
import Divider from "../components/Divider.astro";
import Meta from "./groups/Meta.astro";

type Props = {
  translations?: Record<string, string>;
};

const locale = parseLocale(Astro.params.locale);
const { translations } = Astro.props;
---

<html lang={locale}>
  <Head translations={translations}>
    <slot name="meta" slot="meta">
      <Meta />
    </slot>
  </Head>
  <body>
    <Topbar translations={translations} />
    <Header />
    <Divider />
    <main data-pagefind-body transition:animate="fade">
      <slot />
    </main>
    <Divider flipHorizontally flipVertically />
    <Footer />
  </body>
</html>
