body {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

#topbar {
  background-color: var(--primary-color-120);
  color: var(--white-color);
  font-size: 0.8rem;
  padding-top: var(--gap-tiny);
  padding-bottom: var(--gap-tiny);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#topbar nav ul {
  display: flex;
  gap: var(--gap);
}

#topbar nav ul li {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--white-color);
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  font-size: 2.2rem;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main {
  flex-grow: 1;
}

footer {
}

#topbar, header, main, footer {
  padding-left: var(--page-horizontal-padding);
  padding-right: var(--page-horizontal-padding);
}

:is(#topbar, header, footer) a {
  text-decoration: none;
  color: var(--white-color);
}

@media (max-width: 1600px) {
  header {
    gap: 1rem;
  }
}
