html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  background-color: var(--color-primary);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);

  > :is(#ribbon, footer) {
    background-color: var(--color-primary-105);
    color: var(--color-white);
    font-size: 0.8rem;
    height: 2rem;
  }

  > header {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  > :is(#ribbon, main, footer) {
    padding-inline: var(--padding-page);
  }

  > :is(#ribbon, header, footer) a {
    text-decoration: none;
    color: var(--color-white);
  }
}

nav {
  user-select: none;
}

main {
  flex-grow: 1;
  padding-block: 2rem;

  a {
    color: var(--color-primary);
  }

  h1 {
    margin-block-start: 0;
  }

  :is(h1, h2, h3, h4, h5, h6) a {
    color: inherit;
    text-decoration: none;
  }

  :is(img, video, svg) {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }

  ul li {
    list-style: ">";
    padding-inline-start: 1ch;
  }

  ol li {
    padding-inline-start: 1ch;
  }
}

p:has(> img) {
  text-align: center;
}

article {
  line-height: var(--line-height);

  details {
    margin: 0;
    padding: 1rem;
  }
}

article pre {
  padding: 1rem;
  border-radius: var(--border-radius);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

code,
kbd {
  background-color: var(--color-white-105);
  border-radius: var(--border-radius);
  padding: 0.15rem;
}

p code {
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

kbd {
  border: 1px solid var(--color-primary);
  box-shadow: 0 2px 0 1px var(--color-primary);
  cursor: default;
  font-size: 0.75em;
  line-height: 1;
  min-width: 0.75rem;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
}

kbd:hover {
  box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
  top: 1px;
}

dt {
  font-style: italic;
}

dd {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--gap-tiny);
  margin-inline-start: 1ch;
  margin-block-end: 1rem;
  padding-inline-start: 1ch;
  border-inline-start: 1px solid var(--color-white-105);
}

dd:last-child {
  margin-block-end: 0;
}

.label {
  font-family: var(--font-headings);
  font-size: 1.3rem;
  font-weight: bold;
}

.footnotes {
  font-size: 0.7rem;

  p {
    margin: 0;
  }
}

@media print {
  aside,
  #ribbon,
  header .search,
  header nav,
  footer,
  body > svg,
  #remark42 {
    display: none !important;
  }
}
