---
import { parseLocale } from "../../utils/i18n";
import Navigation from "../../components/Navigation.astro";
import { version } from "../../../package.json";
import { prepareNavigation } from "../../utils/paths";

const locale = parseLocale(Astro.params.locale);
const navigation = await prepareNavigation(`footer/${locale}`);
---

<footer>
  <span>Version {version}</span>
  <Navigation items={navigation} />
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding-top: 0.75rem;

    nav ul {
      display: flex;
      gap: var(--gap);

      .active {
        font-weight: bold;
      }
    }
  }
</style>
