---
import Brand from "../../components/Brand.astro";
import { C } from "../../site.config";
import { parseLocale } from "../../utils/i18n";
import Search from "../../components/Search.astro";
import Navigation from "../../components/Navigation.astro";
import BurgerButton from "../../components/BurgerButton.astro";
import { prepareNavigation, resolvePath } from "../../utils/paths";

const locale = parseLocale(Astro.params.locale);
const navigation = await prepareNavigation(`main/${locale}`);
---

<header>
  <a href={resolvePath(`${locale === C.DEFAULT_LOCALE ? "" : locale}`)}>
    <Brand />
  </a>
  <Search />
  <Navigation items={navigation} />
  <BurgerButton />
</header>

<style>
  header {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas: "brand search menu";
    align-items: center;
    font-size: 2.2rem;
    column-gap: 4rem;
    margin: 2rem calc(var(--padding-page) - var(--gap) * 2);
    padding: var(--gap);
    border-radius: 10rem;
    font-family: var(--font-headings);

    > a {
      grid-area: brand;
    }

    button.burger-button {
      display: none;
      grid-area: burger;
    }

    .search {
      grid-area: search;
      transition: var(--transition-duration);
    }

    nav {
      grid-area: menu;
      font-size: 1.5rem;
      font-weight: normal;
      margin-inline-start: -1.6rem;

      ul {
        display: flex;

        li {
          white-space: nowrap;

          a::before {
            content: "<";
            transform: translateX(20px);
          }

          a::after {
            content: "/>";
            text-align: end;
            transform: translateX(-20px);
          }

          a::before,
          a::after {
            transition:
              opacity 0.5s,
              transform 0.3s;
            display: inline-block;
            opacity: 0;
            font-weight: normal;
          }

          a.active {
            font-weight: bold;
          }

          a:hover::before,
          a:hover::after,
          a.active::before,
          a.active::after {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }

  :global(.search-active) header {
    grid-template-areas: "search search search";

    > a {
      display: none;
    }

    .burger-button,
    nav {
      display: none;
    }

    .search {
      margin-inline: calc(-0.7rem - 3px);
      width: calc(100% + 2 * (0.7rem + 3px));
    }
  }

  :global(.burger-active) header :global(.search) {
    display: none;
  }

  @media (width <= 800px) {
    header {
      grid-template-areas: "brand search burger" ". . .";
      column-gap: 1rem;
      margin-block-start: 0;
      border-radius: 0;

      button.burger-button {
        display: block;
      }

      nav {
        display: none;

        ul {
          gap: var(--gap-tiny);
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }

    :global(.burger-active) header {
      grid-template-areas: "brand menu burger" ". menu .";

      nav {
        display: block;
      }
    }
  }

  @media (800px < width < 1280px) {
    header {
      column-gap: 2rem;
    }
  }

  @media (1280px <= width <= 1600px) {
    header {
      column-gap: 3rem;
    }
  }
</style>
