---
import TopNavigation from './TopNavigation.astro';
---

<div id="top-bar">
  <TopNavigation />
</div>

<style lang="scss">
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colors-primary);
    height: 1.5rem;
  }
</style>
